<% title 'Equipment Sets' %> 
<div style="width: 100%; clear: both; height: 30px">
  <div style="float: right">
  <%= link_to 'New Equipment Set', new_equipment_set_path, {class: 'button blue'} %>
  </div>
</div>

<% @equipment_sets.each do |equipment_set| %>
  <div class="block" style="margin-left: 20%; margin-right: 20%;padding-bottom: 30px">
    <h1><%= equipment_set.title %></h1>
    <p><%= equipment_set.description %></p>
    <% if can?(:read, equipment_set) || can?(:edit, equipment_set) || can?(:delete, equipment_set) %>
      <div style="float: right; clear: both; height: 40px">
      <% if can?(:read, equipment_set) %>
        <%= link_to 'Show', equipment_set %>
      <% end %>
      <% if can?(:edit, equipment_set) %>
        <%= link_to 'Edit', edit_equipment_set_path(equipment_set) %>
      <% end %>
      <% if can?(:delete, equipment_set) %>
        <%= link_to 'Delete', equipment_set, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </div>
    <% end %>
  </div>
<% end %>

