<table>
  <thead>
    <tr>
    <th style="width: 20px"></th>
      <th style="width: 20px"></th>
      <th style="width: 30%">Species</th>
      <th style="width: 70%">Address</th>
    </tr>
  </thead>

  <tbody>
    <% @trees.each do |tree| %>
      <tr>
        <td>
          <%= check_box_tag  "event[tree_ids][]", tree.id %>     
        </td>
        <td>
        <a href="<%=tree_path(tree) %>">
          <% if tree.species.present? %>
            <% if Tree.types.include?(tree.species.capitalize.to_s) %>
              <%= image_tag("fruits/#{tree.species.downcase}16.png") %>
            <% end %>
          <% end %>
        </a>
        </td>
        <td>
        <a href="<%=tree_path(tree) %>">
          <%= tree.species %>
          </a>
        </td>
        <td>
        <% if tree.owner_id.present? %>
        <a href="<%=tree_path(tree) %>"><%= (tree.owner.address.split(/[\n,]+/)[0]).to_s + "..." %>
        </a>
        <% else %>
          ...
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @trees %>