<% title "Agencies" %>
<div style="float: right">
  <%= link_to 'New Agency', new_agency_path, {class: 'button blue'} %>
</div>


<% @agencies.each do |agency| %>
    <div class="block" style="margin-left: 20%; margin-right: 20%;padding-bottom: 30px">
      <h1><%= agency.title %></h1>
      <p><%= agency.description %></p>
      <% if can?(:read, agency) || can?(:edit, equipment_set) || can?(:delete, equipment_set) %>
        <div style="float: right; clear: both; height: 40px">
        <% if can?(:read, agency)  %>
          <%= link_to 'Show', agency %>
        <% end %>
        <% if can?(:edit, agency) %>
          <%= link_to 'Edit', edit_agency_path(agency) %>
        <% end %>
        <% if can?(:edit, agency) %>
          <%= link_to 'Delete', agency, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
      <% end %>        
    </div>
<% end %>

<br>


