<div class="block"> 
<h1><%= @agency.title %></h1>
<p>
  <strong>Description:</strong>
  <%= @agency.description %>
</p>
</div>

<% if @agency.events.any? %>
	<div style="margin-bottom: 20px">
		<h2><%= Configurable.event.pluralize.titlecase %></h2>
		<%= render "events/events", events: @agency.events %>
	</div>
<% end %>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
